.modal-header
  %button.close{ type: "button", 'data-dismiss' => "modal", 'aria-hidden' => true} &times;
  %h4
    #{@person.complete_name_with_org}
.modal-body

  = render partial: 'documents/index2', locals: { parent_klass: 'Person', parent_id: @person.id }

.modal-footer
  = link_to 'OK', '#', 'data-dismiss' => "modal", class: 'btn btn-primary'

